* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Courier New', Courier, monospace;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color:rgb(71, 1, 137);
    color: white;
    font-weight: bold;
}

.main{
    text-align: center;
    padding: 2rem 0;
}

button {
    padding: 0.7em 2.5em;
    border: none;
    border-radius: 5px;
    font-weight: bold;
    cursor:pointer;
    transition: .2s ease-in-out ;
}

button:hover{
    transform: scale(1.1);
}

canvas{
    background-color: white;
}